:root {
    --primary: #7868a1 ;
    --secondary: #7776B3;
    --primary10Black: color-mix(in srgb,#7868A1,black 10% ); 
    --primary20Black: color-mix(in srgb,#7868A1,black 20% ); 
    --primary50Black: color-mix(in srgb,#7868A1,black 50% ); 
    --primary80Black: color-mix(in srgb,#7868A1,black 80% ); 
    --whiteout: rgb(248, 248, 248);
    --alt: #F9ED59;
    --darkGrey:#5A5761;
    --lightGrey:#D9D9D9;
    --error: #CB3E3E;
}

#alternative-nav-bar {
    background-color: var(--primary50Black) !important;
}

/*Images Hero Section*/

.images-hero-container {
    max-width: 1440px;

    margin: 0 auto;
    padding: 128px 64px 64px 64px;

    color: var(--primary80Black);
    
}

.images-hero-container p:nth-child(2) {
    margin-top: 32px;
}

.images-hero-container button {
    margin-top: 64px;

    background-color: var(--alt);
    color: var(--primary50Black);
}

/*Images Section*/

#images-section {
    padding: 64px;
    background-color: var(--secondary);
}

.images-container {
    max-width: 1440px;

    margin: 0 auto;
}

.images-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 64px;
    padding: 8px;

    background-color: var(--primary10Black);
}

.images-nav button {
    color: var(--whiteout);
    background-color: transparent;
}

.images-grid {
    display: grid;
    grid-template-rows: repeat(auto-fit,200px);
    grid-template-columns: repeat(auto-fit, 200px) ;
    justify-content: space-between;
    gap: 32px;
   
    margin-top: 64px;
}

image {
    height: 200px;
    width: 200px;
    background-color: var(--lightGrey);
}

/*Large screens and Desktops*/
@media (min-width:1025px) and (max-width:1440px) {
    
    /*Images Hero Section*/
    .images-hero-container {
        max-width: none;
    
        margin: 0;
        padding: 128px 64px 64px 64px;
    }
    
    .images-hero-container p:nth-child(2) {
        margin-top: 32px;
    }
    
    .images-hero-container button {
        margin-top: 64px;
    }
    
    /*Images Section*/
    
    #images-section {
        padding: 64px;
    }
    
    .images-container {
        max-width: none;
    
        margin: 0;
    }
    
    .images-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        margin-top: 64px;
        padding: 8px;
    }
    
    .images-grid {
        display: grid;
        grid-template-rows: repeat(auto-fit,200px);
        grid-template-columns: repeat(auto-fit, 200px) ;
        justify-content: space-between;
        gap: 32px;
       
        margin-top: 64px;
    }
    
    image {
        height: 200px;
        width: 200px;
    }
}

/*Laptops and Small Screens*/

@media (min-width:769px) and (max-width: 1024px) {
    /*Images Hero Section*/
    .images-hero-container {
        max-width: none;
    
        margin: 0;
        padding: 128px 64px 64px 64px;
    }
    
    .images-hero-container p:nth-child(2) {
        margin-top: 32px;
    }
    
    .images-hero-container button {
        margin-top: 64px;
    }
    
    /*Images Section*/
    
    #images-section {
        padding: 64px;
    }
    
    .images-container {
        max-width: none;
    
        margin: 0;
    }
    
    .images-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        margin-top: 64px;
        padding: 8px;
    }
    
    .images-grid {
        display: grid;
        grid-template-rows: repeat(auto-fit,200px);
        grid-template-columns: repeat(auto-fit, 200px) ;
        justify-content: space-between;
        gap: 32px;
       
        margin-top: 64px;
    }
    
    image {
        height: 200px;
        width: 200px;
    }
}

/*iPads and Tablets*/
@media (min-width:481px) and (max-width:768px) {
    /*Images Hero Section*/
    .images-hero-container {
        max-width: none;
    
        margin: 0;
        padding: 128px 32px 32px 32px;
    }
    
    .images-hero-container p:nth-child(2) {
        margin-top: 32px;
    }
    
    .images-hero-container button {
        margin-top: 64px;
    }
    
    /*Images Section*/
    
    #images-section {
        padding: 32px;
    }
    
    .images-container {
        max-width: none;
    
        margin: 0;
    }
    
    .images-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        margin-top: 64px;
        padding: 8px;
    }
    
    .images-grid {
        display: grid;
        grid-template-rows: repeat(auto-fit,150px);
        grid-template-columns: repeat(auto-fit, 150px) ;
        justify-content: space-between;
        gap: 32px;
       
        margin-top: 64px;
    }
    
    image {
        height: 150px;
        width: 150px;
    }
}

/*Mobile Devices*/
@media (min-width:320px) and (max-width:480px) {
    /*Images Hero Section*/
    .images-hero-container {
        max-width: none;
    
        margin: 0;
        padding: 128px 16px 16px 16px;
    }
    
    .images-hero-container p:nth-child(2) {
        margin-top: 32px;
    }
    
    .images-hero-container button {
        margin-top: 32px;
    }
    
    /*Images Section*/
    
    #images-section {
        padding: 16px;
    }
    
    .images-container {
        max-width: none;
    
        margin: 0;
    }
    
    .images-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        margin-top: 32px;
        padding: 8px;
    }

    .images-nav button {
        font-size: 12px;
    }
    
    .images-grid {
        display: grid;
        grid-template-rows: repeat(auto-fit,150px);
        grid-template-columns: repeat(auto-fit, 150px) ;
        justify-content: space-between;
        gap: 32px;
       
        margin-top: 64px;
    }
    
    image {
        height: 150px;
        width: 150px;
    }
}