:root {
    --primary: #7868a1 ;
    --secondary: #7776B3;
    --primary10Black: color-mix(in srgb,#7868A1,black 10% ); 
    --primary20Black: color-mix(in srgb,#7868A1,black 20% ); 
    --primary50Black: color-mix(in srgb,#7868A1,black 50% ); 
    --primary80Black: color-mix(in srgb,#7868A1,black 80% ); 
    --whiteout: rgb(248, 248, 248);
    --alt: #F9ED59;
    --darkGrey:#5A5761;
    --lightGrey:#D9D9D9;
    --error: #CB3E3E;
}

#alternative-nav-bar {
    background-color: var(--primary50Black) !important;
}

/*Notes Hero Section*/

.links-hero-container {
    max-width: 1440px;

    margin: 0 auto;
    padding: 128px 64px 64px 64px;

    color: var(--primary80Black);
    
}

.links-hero-container p:nth-child(2) {
    margin-top: 32px;
}

.links-hero-container button {
    margin-top: 64px;

    background-color: var(--alt);
    color: var(--primary50Black);
}

/*Links Section*/

.links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;

    max-width: 1440px;

    margin: 0 auto;
    padding: 64px;

}

.links-left-container p , .links-right-container p{
    color: var(--primary80Black);
}

.links-left-container, .links-right-container {
    display: flex;
    flex-direction: column;
    gap: 8vh;

    width: 100%;
}

.links-left-container a, .links-right-container a {
    background-color: var(--lightGrey);
    color: var(--primary50Black);

    padding: 8px 16px;
}

/*Large screens and Desktops*/

@media (min-width:1025px) and (max-width:1440px) {

    /*Notes Hero Section*/
    .links-hero-container {
        max-width: none;
    
        margin: 0;
        padding: 128px 64px 64px 64px;
    
        color: var(--primary80Black);
        
    }
    
    .links-hero-container p:nth-child(2) {
        margin-top: 32px;
    }
    
    .links-hero-container button {
        margin-top: 64px;
    }

    /*Links Section*/

    .links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5%;
    
        max-width: none;
    
        margin: 0;
        padding: 64px;
    
    }
    
    .links-left-container, .links-right-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 8vh;
    
        width: 100%;
    }
    
    .links-left-container a, .links-right-container a {

        padding: 8px 16px;
    }

}

/*Laptops and Small Screens*/
@media (min-width:769px) and (max-width: 1024px) {
    /*Notes Hero Section*/
    .links-hero-container {
        max-width: none;
    
        margin: 0;
        padding: 128px 64px 64px 64px;
        
    }
    
    .links-hero-container p:nth-child(2) {
        margin-top: 32px;
    }
    
    .links-hero-container button {
        margin-top: 64px;
    }
    /*Links Section*/
    .links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1%;
    
        max-width: none;
    
        margin: 0;
        padding: 64px;
    
    }
    
    .links-left-container, .links-right-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 8vh;
    
        width: 100%;
    }
    
    .links-left-container a, .links-right-container a {

        padding: 8px 16px;
    }
}

/*iPads and Tablets*/

@media (min-width:481px) and (max-width:768px) {
    /*Notes Hero Section*/
    .links-hero-container {
        max-width: none;
    
        margin: 0;
        padding: 128px 32px 32px 32px;
        
    }
    
    .links-hero-container p:nth-child(2) {
        margin-top: 32px;
    }
    
    .links-hero-container button {
        margin-top: 64px;
    }

    /*Links Section*/
    .links-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5vh;
    
        max-width: none;
    
        margin: 0;
        padding: 32px;
    
    }
    
    .links-left-container, .links-right-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 5vh;
    
        width: 100%;
    }
    
    .links-left-container a, .links-right-container a {

        padding: 8px 16px;
    }
}

/*Mobile Devices*/

@media (min-width:320px) and (max-width:480px) {
    /*Links Hero Section */
    .links-hero-container {
        max-width: none;
    
        margin: 0;
        padding: 128px 16px 16px 16px;
        
    }
    
    .links-hero-container p:nth-child(2) {
        margin-top: 32px;
    }
    
    .links-hero-container button {
        margin-top: 32px;
    }

    /*Links Section*/

    .links-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5vh;
    
        max-width: none;
    
        margin: 0;
        padding: 16px;
    
    }
    
    .links-left-container, .links-right-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 5vh;
    
        width: 100%;
    }
    
    .links-left-container a, .links-right-container a {

        padding: 8px 16px;
    }

}


